*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    width: 50%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    height: 7rem;
    display: flex;
    align-items: end;
    justify-content: center;
}

.open-line{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 50%;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.name-label, .age-label, .gender-label, .role-label, .email-label, .comments-label{
    color: white;
}

button{
    background-color: #9ca3af;
    width: 20%;
    margin: auto;
}

button:hover{
    background-color: #1f2937;
}

.form-group{
    padding-top: 10px;
    padding-bottom: 10px;
}

footer{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: #1f2937;
}

a:hover{
    color:white
}

@media screen and (max-width: 1024px) {
    .title{
        height: 5rem;
    }

    .open-line{
        height: 8rem;
    }

    form{
        width: 90%;
    }

    button{
        width: 35%;
    }
}